<main>
    <div class="row">
        <div class="albums">
            <h3 class="text" style="text-align: center;" *ngIf="artistName != null">Albums de {{artistName}}</h3>
            <div class="row">
                <!-- Liste d'albums d'un artiste choisi -->
                <div *ngFor="let lesAlbums of stockage.albums">
                    <h4 class="text">{{lesAlbums.name}}</h4>
                    <img src="{{lesAlbums.imageUrl}}" alt="{{lesAlbums.name}}">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="['/song', lesAlbums.name, artistName]">Chansons</button>
                </div>
            </div>
        </div>
    </div>
</main>
