<main>
    <div class="row">
        <div class="albums">
            <h3 class="text" style="text-align: center;" *ngIf="artistName != null">Albums de {{artistName}}</h3>
            <div class="row">
                <!-- Liste d'albums d'un artiste choisi -->
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
                <div>
                    <h4 class="text">Album 1</h4>
                    <img src="../assets/images/lofi.jpg" alt="album 1">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="'/song'">Chansons</button>
                </div>
            </div>
        </div>
    </div>
</main>
