<main>
    <div class="row">
        <div class="search">
            <h3 class="text" id="ajout" [translate]="homeT.textAdd"></h3>
            <p class="textErrorExist" *ngIf="dejaPresent == true">Cet artiste est déjà dans vos favoris</p>
            <form (ngSubmit)="getArtist()">
                <span class="row inputTextArtist">
                    <input type="text" [(ngModel)]="artistName" name="artistName" placeholder="Drake">
                </span>
                <span class="row btnAjouter">
                    <input type="submit" value="Ajouter" class="btn btn-primary rechercher" style="margin-left: 10px;">
                </span>
            </form>
        </div>
        <div class="display">
            <h3 class="vosArtiste text">Vos artistes</h3>
            <div class="row">
                <!-- Liste d'artistes ajoutés aux favoris -->
                <div *ngFor="let mesArtiste of stockage.artists">
                    <h4 class="text" style="text-align: center;">{{mesArtiste.name}}</h4>
                    <img src="{{mesArtiste.imageUrl}}" alt="{{mesArtiste.name}}">
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="['/album', mesArtiste.name]">Albums</button>
                    <button class="btn btn-primary btnAlbumConcert" [routerLink]="['/concert', mesArtiste.name]">Concerts</button>
                </div>
            </div>
                <form (ngSubmit)="clearLocal()" *ngIf="delete">
                    <input type="submit" value="Supprimer vos favoris" class="btn btn-primary delete">
                </form>
        </div>
    </div>
</main>
