<div>
    <header>
        <div class="row">
            <div class="col titreApp">
                <h3>SuperMusique</h3>
            </div>
            <div class="col menuLangue">
                <select name="language" id="language">
                    <option value="fr-ca">Français</option>
                    <option value="en-us">English</option>
                </select>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="search">
                <h3 id="ajout">Ajouter un artiste</h3>
                <form>
                    <input class="inputNomArtiste" type="text" name="artistName" placeholder="Veuillez entrer le nom d'un artiste">
                    <button class="btn btn-primary rechercher" style="margin-left: 10px;">Rechercher</button>
                </form>
            </div>
            <div class="display">
                <h3 class="vosArtiste">Vos artistes</h3>
                <div class="row">
                    <!-- Liste d'artistes ajoutés aux favoris -->
                    <div>
                        <h4 style="text-align: center;">Artiste 1</h4>
                        <img src="../assets/images/Menu.jpg" alt="Artiste 1">
                        <button class="btn btn-primary btnAlbumConcert">Albums</button>
                        <button class="btn btn-primary btnAlbumConcert">Concerts</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div>
            &copy; Tous droits réservés à Spotify, BandsInTown et Google
        </div>
    </footer>
</div>