<div>
    <header class="entete">
        <div class="row">
            <div class="col titreApp">
                <h2 class="text" [routerLink]="'/home'" [translate]="'app.titre'"></h2>
            </div>
            <div class="col menuLangue">
                <button class="btn btn-primary langue" (click)="changeLanguage('fr')">Français</button>
                <button class="btn btn-primary langue" (click)="changeLanguage('en')">English</button>
            </div>
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer>
        <div class="text">
        <p [translate]="'app.copy'" style="display: block;"></p>
        </div>
    </footer>
</div>