<div>
    <header class="entete">
        <div class="row">
            <div class="col titreApp">
                <h2 class="text" [routerLink]="'/home'" [translate]="'titre.title'"></h2>
            </div>
            <div class="col menuLangue">
                <select class="langue" name="language" id="language">
                    <option (click)="changeLanguage('fr')">Français</option>
                    <option (click)="changeLanguage('en')">English</option>
                </select>
            </div>
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer>
        <div class="text">
            &copy; Tous droits réservés à Spotify, BandsInTown et Google
        </div>
    </footer>
</div>