<main>
    <h3 class="text" style="margin-left: 5px;">Concerts de {{artistName}}</h3>
    <div class="row mapDiv">
        <google-map
        class="myMap"
         width="70%"
         [center]="center"
         [zoom]="zoom">
         <map-marker
         *ngFor="let marker of markerPositions"
         [position]="marker">
         </map-marker>
        </google-map>
        <div class="shows">
             <!-- Liste des concerts -->
            <div class="lesShow" *ngFor="let concert of stockage.concerts">
                <h4 class="text">{{concert.date | date : 'medium' }}</h4>
                <p class="text">Pays : {{concert.country}}</p>
                <p class="text">Ville : {{concert.city}}</p>
            </div>
        </div>
    </div>
</main>
